//controls
ul.controls
  font-size: 15px
  margin: 20px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  li
    text-transform: uppercase
    position: relative
    list-style: none
    padding: 10px
    cursor: pointer
    transition: background 150ms
    color: $sorttext
  li.active
    color: $activemenu
// Галерея
.galery_container
  display: grid
  grid-gap: 15px
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
  overflow: hidden
  .mix
    display: inline-block
    position: relative
    cursor: pointer
    box-sizing: content-box
    overflow: hidden
    margin: 12px 0
    img
      cursor: pointer