//controls
ul.controls
  font-size: 15px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  padding: 0
  li.control
    position: relative
    list-style: none
    padding: 10px
    cursor: pointer
    transition: background 150ms

